<h1>Welcome, <%= current_user.name %></h1>

<section id="user-info">
  <p>Basic Info</p>
  <table>
    <tr>
      <th>Phone Number</th>
      <th>Email Address</th>
    </tr>

    <tr>
      <td><%= current_user.phone %></td>
      <td><%= current_user.email %></td>
    </tr>
  </table>
</section>

<section>
  <h3><%= "Your Registries" %></h3>
  <%= link_to 'Create Registry', new_registry_path %>

  <table id="user-registries">
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>

    <% @user_registries.each do |registry| %>
      <tr>
        <th><%= link_to registry.name, registry_path(registry) %></th>
        <th><%= registry.location %></th>
      </tr>
    <% end %>

  </table>
</section>

<section>
  <h3>Business Logic</h3>

  <h4>Count of participants by Birth Year</h4>
  <% @count_by_birth_year.each do |year, count| %>
    <p><%= "#{year} - #{count}" %></p>
  <% end %>
</section>